option(value="" disabled="true" selected="true") Selecciona c칩digo de pa칤s
option(value="AF" data-code="+93" data-name="Afganist치n") Afganist치n (+93) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AL" data-code="+355" data-name="Albania") Albania (+355) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="DZ" data-code="+213" data-name="Argelia") Argelia (+213) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="AS" data-code="+1684" data-name="Samoa Americana") Samoa Americana (+1684) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AD" data-code="+376" data-name="Andorra") Andorra (+376) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AO" data-code="+244" data-name="Angola") Angola (+244) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AI" data-code="+1264" data-name="Anguilla") Anguilla (+1264) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AQ" data-code="+672" data-name="Ant치rtida") Ant치rtida (+672) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AG" data-code="+1268" data-name="Antigua y Barbuda") Antigua y Barbuda (+1268) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AR" data-code="+54" data-name="Argentina") Argentina (+54) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AM" data-code="+374" data-name="Armenia") Armenia (+374) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AW" data-code="+297" data-name="Aruba") Aruba (+297) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AU" data-code="+61" data-name="Australia") Australia (+61) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AT" data-code="+43" data-name="Austria") Austria (+43) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AZ" data-code="+994" data-name="Azerbaiy치n") Azerbaiy치n (+994) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="BS" data-code="+1242" data-name="Bahamas") Bahamas (+1242) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BH" data-code="+973" data-name="Bar칠in") Bar칠in (+973) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BD" data-code="+880" data-name="Banglades") Banglades (+880) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BB" data-code="+1246" data-name="Barbados") Barbados (+1246) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BY" data-code="+375" data-name="Bielorrusia") Bielorrusia (+375) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BE" data-code="+32" data-name="B칠lgica") B칠lgica (+32) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BZ" data-code="+501" data-name="Belice") Belice (+501) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BJ" data-code="+229" data-name="Benin") Benin (+229) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BM" data-code="+1441" data-name="Bermudas") Bermudas (+1441) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BT" data-code="+975" data-name="Butan") Butan (+975) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BO" data-code="+591" data-name="Bolivia") Bolivia (+591) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BA" data-code="+387" data-name="Bosnia-Herzegovina") Bosnia-Herzegovina (+387) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BW" data-code="+267" data-name="Botsuana") Botsuana (+267) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BR" data-code="+55" data-name="Brasil") Brasil (+55) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="IO" data-code="+246" data-name="Territorio Brit치nico del Oc칠ano 칈ndico") Territorio Brit치nico del Oc칠ano 칈ndico (+246) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="BN" data-code="+673" data-name="Brunei") Brunei (+673) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BG" data-code="+359" data-name="Bulgaria") Bulgaria (+359) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BF" data-code="+226" data-name="Burkina Faso") Burkina Faso (+226) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BI" data-code="+257" data-name="Burundi") Burundi (+257) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="KH" data-code="+855" data-name="Camboya") Camboya (+855) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="CM" data-code="+237" data-name="Camer칰n") Camer칰n (+237) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CA" data-code="+1" data-name="Canad치") Canad치 (+1) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CV" data-code="+238" data-name="Cabo Verde") Cabo Verde (+238) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="KY" data-code="+ 345" data-name="Islas Caim치n") Islas Caim치n (+ 345) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="CF" data-code="+236" data-name="Rep칰blica Centroafricana") Rep칰blica Centroafricana (+236) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="TD" data-code="+235" data-name="Chad") Chad (+235) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="CL" data-code="+56" data-name="Chile") Chile (+56) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CN" data-code="+86" data-name="China") China (+86) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CX" data-code="+61" data-name="Isla de Navidad") Isla de Navidad (+61) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CC" data-code="+61" data-name="Islas Cocos") Islas Cocos (+61) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CO" data-code="+57" data-name="Colombia") Colombia (+57) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="KM" data-code="+269" data-name="Comoras") Comoras (+269) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="CG" data-code="+242" data-name="Congo") Congo (+242) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CD" data-code="+243" data-name="Rep칰blica Democr치tica del Congo") Rep칰blica Democr치tica del Congo (+243) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CK" data-code="+682" data-name="Islas Cook") Islas Cook (+682) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CR" data-code="+506" data-name="Costa Rica") Costa Rica (+506) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CI" data-code="+225" data-name="Costa de Marfil") Costa de Marfil (+225) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="HR" data-code="+385" data-name="Croacia") Croacia (+385) 
  <span aria-hidden="true"> 游쇓릖 </span>
   
option(value="CU" data-code="+53" data-name="Cuba") Cuba (+53) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CY" data-code="+537" data-name="Chipre") Chipre (+537) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CZ" data-code="+420" data-name="Chequia") Chequia (+420) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="DK" data-code="+45" data-name="Dinamarca") Dinamarca (+45) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="DJ" data-code="+253" data-name="Yibuti") Yibuti (+253) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="DM" data-code="+1767" data-name="Dominica") Dominica (+1767) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="DO" data-code="+1849" data-name="Rep칰blica Dominicana") Rep칰blica Dominicana (+1849) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="EC" data-code="+593" data-name="Ecuador") Ecuador (+593) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="EG" data-code="+20" data-name="Egipto") Egipto (+20) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="SV" data-code="+503" data-name="El Salvador") El Salvador (+503) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="GQ" data-code="+240" data-name="Guinea Ecuatorial") Guinea Ecuatorial (+240) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="ER" data-code="+291" data-name="Eritrea") Eritrea (+291) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="EE" data-code="+372" data-name="Estonia") Estonia (+372) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="ET" data-code="+251" data-name="Etiop칤a") Etiop칤a (+251) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="FK" data-code="+500" data-name="Islas Malvinas") Islas Malvinas (+500) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="FO" data-code="+298" data-name="Islas Feroe") Islas Feroe (+298) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="FJ" data-code="+679" data-name="Fiyi") Fiyi (+679) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="FI" data-code="+358" data-name="Finlandia") Finlandia (+358) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="FR" data-code="+33" data-name="Francia") Francia (+33) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="GF" data-code="+594" data-name="Guayana Francesa") Guayana Francesa (+594) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="PF" data-code="+689" data-name="Polinesia Francesa") Polinesia Francesa (+689) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="GA" data-code="+241" data-name="Gab칩n") Gab칩n (+241) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GM" data-code="+220" data-name="Gambia") Gambia (+220) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GE" data-code="+995" data-name="Georgia") Georgia (+995) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="DE" data-code="+49" data-name="Alemania") Alemania (+49) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="GH" data-code="+233" data-name="Ghana") Ghana (+233) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GI" data-code="+350" data-name="Gibraltar") Gibraltar (+350) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GR" data-code="+30" data-name="Grecia") Grecia (+30) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GL" data-code="+299" data-name="Groenlandia") Groenlandia (+299) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GD" data-code="+1473" data-name="Granada") Granada (+1473) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GP" data-code="+590" data-name="Guadalupe") Guadalupe (+590) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GU" data-code="+1671" data-name="Guam") Guam (+1671) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GT" data-code="+502" data-name="Guatemala") Guatemala (+502) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GG" data-code="+44" data-name="Guernsey") Guernsey (+44) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GN" data-code="+224" data-name="Guinea") Guinea (+224) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GW" data-code="+245" data-name="Guinea-Bisau") Guinea-Bisau (+245) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GY" data-code="+595" data-name="Guyana") Guyana (+595) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="HT" data-code="+509" data-name="Hait칤") Hait칤 (+509) 
  <span aria-hidden="true"> 游쇓릖 </span>
   
option(value="VA" data-code="+379" data-name="Ciudad del Vaticano") Ciudad del Vaticano (+379) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="HN" data-code="+504" data-name="Honduras") Honduras (+504) 
  <span aria-hidden="true"> 游쇓릖 </span>
   
option(value="HK" data-code="+852" data-name="Hong Kong") Hong Kong (+852) 
  <span aria-hidden="true"> 游쇓릖 </span>
   
option(value="HU" data-code="+36" data-name="Hungr칤a") Hungr칤a (+36) 
  <span aria-hidden="true"> 游쇓릖 </span>
   
option(value="IS" data-code="+354" data-name="Islandia") Islandia (+354) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IN" data-code="+91" data-name="India") India (+91) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="ID" data-code="+62" data-name="Indonesia") Indonesia (+62) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IR" data-code="+98" data-name="Ir치n") Ir치n (+98) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IQ" data-code="+964" data-name="Iraq") Iraq (+964) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IE" data-code="+353" data-name="Irlanda") Irlanda (+353) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IM" data-code="+44" data-name="Isla de Man") Isla de Man (+44) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IL" data-code="+972" data-name="Israel") Israel (+972) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IT" data-code="+39" data-name="Italia") Italia (+39) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="JM" data-code="+1876" data-name="Jamaica") Jamaica (+1876) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="JP" data-code="+81" data-name="Jap칩n") Jap칩n (+81) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="JE" data-code="+44" data-name="Jersey") Jersey (+44) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="JO" data-code="+962" data-name="Jordania") Jordania (+962) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="KZ" data-code="+7" data-name="Kazajist치n") Kazajist치n (+7) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="KE" data-code="+254" data-name="Kenia") Kenia (+254) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="KI" data-code="+686" data-name="Kiribati") Kiribati (+686) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="KP" data-code="+850" data-name="Corea del Norte") Corea del Norte (+850) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="KR" data-code="+82" data-name="Corea del Sur") Corea del Sur (+82) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="XK" data-code="+383" data-name="Kosovo") Kosovo (+383) 
  <span aria-hidden="true"> 游쬃릖 </span>
   
option(value="KW" data-code="+965" data-name="Kuwait") Kuwait (+965) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="KG" data-code="+996" data-name="Kirguist치n") Kirguist치n (+996) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="LA" data-code="+856" data-name="Laos") Laos (+856) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LV" data-code="+371" data-name="Letonia") Letonia (+371) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LB" data-code="+961" data-name="L칤bano") L칤bano (+961) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LS" data-code="+266" data-name="Lesoto") Lesoto (+266) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LR" data-code="+231" data-name="Liberia") Liberia (+231) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LY" data-code="+218" data-name="Libia") Libia (+218) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LI" data-code="+423" data-name="Liechtenstein") Liechtenstein (+423) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LT" data-code="+370" data-name="Lituania") Lituania (+370) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LU" data-code="+352" data-name="Luxemburgo") Luxemburgo (+352) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="MO" data-code="+853" data-name="Macao") Macao (+853) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MK" data-code="+389" data-name="Rep칰blica de Macedonia") Rep칰blica de Macedonia (+389) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MG" data-code="+261" data-name="Madagascar") Madagascar (+261) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MW" data-code="+265" data-name="Malaui") Malaui (+265) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MY" data-code="+60" data-name="Malasia") Malasia (+60) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MV" data-code="+960" data-name="Maldivas") Maldivas (+960) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="ML" data-code="+223" data-name="Mal칤") Mal칤 (+223) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MT" data-code="+356" data-name="Malta") Malta (+356) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MH" data-code="+692" data-name="Islas Marshall") Islas Marshall (+692) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MQ" data-code="+596" data-name="Martinica") Martinica (+596) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MR" data-code="+222" data-name="Mauritania") Mauritania (+222) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MU" data-code="+230" data-name="Mauricio") Mauricio (+230) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="YT" data-code="+262" data-name="Mayotte") Mayotte (+262) 
  <span aria-hidden="true"> 游쮫릖 </span>
   
option(value="MX" data-code="+52" data-name="M칠xico") M칠xico (+52) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="FM" data-code="+691" data-name="Estados Federados de Micronesia") Estados Federados de Micronesia (+691) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="MD" data-code="+373" data-name="Moldavia") Moldavia (+373) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MC" data-code="+377" data-name="Monaco") Monaco (+377) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MN" data-code="+976" data-name="Mongolia") Mongolia (+976) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="ME" data-code="+382" data-name="Montenegro") Montenegro (+382) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MS" data-code="+1664" data-name="Montserrat") Montserrat (+1664) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MA" data-code="+212" data-name="Marruecos") Marruecos (+212) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MZ" data-code="+258" data-name="Mozambique") Mozambique (+258) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MM" data-code="+95" data-name="Birmania") Birmania (+95) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="NA" data-code="+264" data-name="Namibia") Namibia (+264) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NR" data-code="+674" data-name="Nauru") Nauru (+674) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NP" data-code="+977" data-name="Nepal") Nepal (+977) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NL" data-code="+31" data-name="Holanda") Holanda (+31) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="AN" data-code="+599" data-name="Antillas Holandesas") Antillas Holandesas (+599) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="NC" data-code="+687" data-name="Nueva Caledonia") Nueva Caledonia (+687) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NZ" data-code="+64" data-name="Nueva Zelanda") Nueva Zelanda (+64) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NI" data-code="+505" data-name="Nicaragua") Nicaragua (+505) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NE" data-code="+227" data-name="Niger") Niger (+227) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NG" data-code="+234" data-name="Nigeria") Nigeria (+234) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NU" data-code="+683" data-name="Niue") Niue (+683) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NF" data-code="+672" data-name="IslaNorfolk") IslaNorfolk (+672) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="MP" data-code="+1670" data-name="IslasMarianasdelNorte") IslasMarianasdelNorte (+1670) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="NO" data-code="+47" data-name="Noruega") Noruega (+47) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="OM" data-code="+968" data-name="Om치n") Om치n (+968) 
  <span aria-hidden="true"> 游엃릖 </span>
   
option(value="PK" data-code="+92" data-name="Pakist치n") Pakist치n (+92) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PW" data-code="+680" data-name="Palaos") Palaos (+680) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PA" data-code="+507" data-name="Panam치") Panam치 (+507) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PG" data-code="+675" data-name="Pap칰a Nueva Guinea") Pap칰a Nueva Guinea (+675) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PY" data-code="+595" data-name="Paraguay") Paraguay (+595) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PE" data-code="+51" data-name="Per칰") Per칰 (+51) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PH" data-code="+63" data-name="Filipinas") Filipinas (+63) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PN" data-code="+872" data-name="Islas Pitcairn") Islas Pitcairn (+872) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PL" data-code="+48" data-name="Polonia") Polonia (+48) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PT" data-code="+351" data-name="Portugal") Portugal (+351) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PR" data-code="+1939" data-name="Puerto Rico") Puerto Rico (+1939) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="QA" data-code="+974" data-name="Qatar") Qatar (+974) 
  <span aria-hidden="true"> 游윓릖 </span>
   
option(value="RO" data-code="+40" data-name="Rumania") Rumania (+40) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="RU" data-code="+7" data-name="Rusia") Rusia (+7) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="RW" data-code="+250" data-name="Ruanda") Ruanda (+250) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="RE" data-code="+262" data-name="Reunion") Reunion (+262) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BL" data-code="+590" data-name="San Bartolome") San Bartolome (+590) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="SH" data-code="+290" data-name="Santa Elena, Ascensi칩n y Trist치n de Acu침a") Santa Elena, Ascensi칩n y Trist치n de Acu침a (+290) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="KN" data-code="+1869" data-name="San Crist칩bal y Nieves") San Crist칩bal y Nieves (+1869) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="LC" data-code="+1758" data-name="Santa Luc칤a") Santa Luc칤a (+1758) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="MF" data-code="+590" data-name="Isla de San Mart칤n") Isla de San Mart칤n (+590) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="PM" data-code="+508" data-name="San Pedro y Miquelon") San Pedro y Miquelon (+508) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="VC" data-code="+1784" data-name="San Vicente y las Granadinas") San Vicente y las Granadinas (+1784) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="WS" data-code="+685" data-name="Samoa") Samoa (+685) 
  <span aria-hidden="true"> 游쩛릖 </span>
   
option(value="SM" data-code="+378" data-name="San Marino") San Marino (+378) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="ST" data-code="+239" data-name=" Santo Tom칠 y Pr칤ncipe")  Santo Tom칠 y Pr칤ncipe (+239) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SA" data-code="+966" data-name="Arabia Saudita") Arabia Saudita (+966) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SN" data-code="+221" data-name="Senegal") Senegal (+221) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="RS" data-code="+381" data-name="Serbia") Serbia (+381) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="SC" data-code="+248" data-name="Seychelles") Seychelles (+248) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SL" data-code="+232" data-name="Sierra Leona") Sierra Leona (+232) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SG" data-code="+65" data-name="Singapur") Singapur (+65) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SK" data-code="+421" data-name="Eslovaquia") Eslovaquia (+421) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SI" data-code="+386" data-name="Eslovenia") Eslovenia (+386) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SB" data-code="+677" data-name="Islas Salom칩n") Islas Salom칩n (+677) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SO" data-code="+252" data-name="Somalia") Somalia (+252) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="ZA" data-code="+27" data-name="Sud치frica") Sud치frica (+27) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="SS" data-code="+211" data-name="Sud치n del Sur") Sud치n del Sur (+211) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="ES" data-code="+34" data-name="Espa침a") Espa침a (+34) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="LK" data-code="+94" data-name="Sri Lanka") Sri Lanka (+94) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="PS" data-code="+970" data-name="Estado de Palestina") Estado de Palestina (+970) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="SD" data-code="+249" data-name="Sud치n") Sud치n (+249) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SR" data-code="+597" data-name="Surinam") Surinam (+597) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SJ" data-code="+47" data-name="Svalbard y Jan Mayen") Svalbard y Jan Mayen (+47) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SZ" data-code="+268" data-name="Suazilandia") Suazilandia (+268) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SE" data-code="+46" data-name="Suecia") Suecia (+46) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="CH" data-code="+41" data-name="Suiza") Suiza (+41) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="SY" data-code="+963" data-name="Siria") Siria (+963) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="TW" data-code="+886" data-name="Taiw치n") Taiw치n (+886) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TJ" data-code="+992" data-name="Tayikist치n") Tayikist치n (+992) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TZ" data-code="+255" data-name="Tanzania") Tanzania (+255) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TH" data-code="+66" data-name="Tailandia") Tailandia (+66) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TL" data-code="+670" data-name="Timor Oriental") Timor Oriental (+670) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TG" data-code="+228" data-name="Togo") Togo (+228) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TK" data-code="+690" data-name="Tokelau") Tokelau (+690) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TO" data-code="+676" data-name="Tonga") Tonga (+676) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TT" data-code="+1868" data-name="Trinidad y Tobago") Trinidad y Tobago (+1868) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TN" data-code="+216" data-name="T칰nez") T칰nez (+216) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TR" data-code="+90" data-name="Turqu칤a") Turqu칤a (+90) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TM" data-code="+993" data-name="Turkmenist치n") Turkmenist치n (+993) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TC" data-code="+1649" data-name="Islas Turcas y Caicos") Islas Turcas y Caicos (+1649) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TV" data-code="+688" data-name="Tuvalu") Tuvalu (+688) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="UG" data-code="+256" data-name="Uganda") Uganda (+256) 
  <span aria-hidden="true"> 游쥟릖 </span>
   
option(value="UA" data-code="+380" data-name="Ucrania") Ucrania (+380) 
  <span aria-hidden="true"> 游쥟릖 </span>
   
option(value="AE" data-code="+971" data-name="Emiratos 츼rabes Unidos") Emiratos 츼rabes Unidos (+971) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="GB" data-code="+44" data-name="Reino Unido") Reino Unido (+44) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="US" data-code="+1" data-name="Estados Unidos") Estados Unidos (+1) 
  <span aria-hidden="true"> 游쥟릖 </span>
   
option(value="UY" data-code="+598" data-name="Uruguay") Uruguay (+598) 
  <span aria-hidden="true"> 游쥟릖 </span>
   
option(value="UZ" data-code="+998" data-name="Uzbekist치n") Uzbekist치n (+998) 
  <span aria-hidden="true"> 游쥟릖 </span>
   
option(value="VU" data-code="+678" data-name="Vanuatu") Vanuatu (+678) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="VE" data-code="+58" data-name="Venezuela") Venezuela (+58) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="VN" data-code="+84" data-name="Vietnam") Vietnam (+84) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="VG" data-code="+1284" data-name="Islas V칤rgenes Brit치nicas") Islas V칤rgenes Brit치nicas (+1284) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="VI" data-code="+1340" data-name="Islas V칤rgenes de los Estados Unidos") Islas V칤rgenes de los Estados Unidos (+1340) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="WF" data-code="+681" data-name="Wallis y Futuna") Wallis y Futuna (+681) 
  <span aria-hidden="true"> 游쩛릖 </span>
   
option(value="YE" data-code="+967" data-name="Yemen") Yemen (+967) 
  <span aria-hidden="true"> 游쮫릖 </span>
   
option(value="ZM" data-code="+260" data-name="Zambia") Zambia (+260) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="ZW" data-code="+263" data-name="Zimbabue") Zimbabue (+263) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="AX" data-code="+358" data-name="칀land") 칀land (+358) 
  <span aria-hidden="true"> 游뷣릖 </span>
   