option(value="" disabled="true" selected="true") Selecciona c칩digo de pa칤s
option(value="AF" data-code="+93") Afganist치n (+93) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AL" data-code="+355") Albania (+355) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="DZ" data-code="+213") Argelia (+213) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="AS" data-code="+1684") Samoa Americana (+1684) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AD" data-code="+376") Andorra (+376) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AO" data-code="+244") Angola (+244) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AI" data-code="+1264") Anguilla (+1264) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AQ" data-code="+672") Ant치rtida (+672) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AG" data-code="+1268") Antigua y Barbuda (+1268) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AR" data-code="+54") Argentina (+54) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AM" data-code="+374") Armenia (+374) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AW" data-code="+297") Aruba (+297) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AU" data-code="+61") Australia (+61) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AT" data-code="+43") Austria (+43) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="AZ" data-code="+994") Azerbaiy치n (+994) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="BS" data-code="+1242") Bahamas (+1242) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BH" data-code="+973") Bar칠in (+973) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BD" data-code="+880") Banglades (+880) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BB" data-code="+1246") Barbados (+1246) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BY" data-code="+375") Bielorrusia (+375) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BE" data-code="+32") B칠lgica (+32) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BZ" data-code="+501") Belice (+501) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BJ" data-code="+229") Benin (+229) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BM" data-code="+1441") Bermudas (+1441) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BT" data-code="+975") Butan (+975) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BO" data-code="+591") Bolivia (+591) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BA" data-code="+387") Bosnia-Herzegovina (+387) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BW" data-code="+267") Botsuana (+267) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BR" data-code="+55") Brasil (+55) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="IO" data-code="+246") Territorio Brit치nico del Oc칠ano 칈ndico (+246) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="BN" data-code="+673") Brunei (+673) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BG" data-code="+359") Bulgaria (+359) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BF" data-code="+226") Burkina Faso (+226) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BI" data-code="+257") Burundi (+257) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="KH" data-code="+855") Camboya (+855) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="CM" data-code="+237") Camer칰n (+237) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CA" data-code="+1") Canad치 (+1) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CV" data-code="+238") Cabo Verde (+238) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="KY" data-code="+ 345") Islas Caim치n (+ 345) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="CF" data-code="+236") Rep칰blica Centroafricana (+236) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="TD" data-code="+235") Chad (+235) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="CL" data-code="+56") Chile (+56) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CN" data-code="+86") China (+86) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CX" data-code="+61") Isla de Navidad (+61) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CC" data-code="+61") Islas Cocos (+61) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CO" data-code="+57") Colombia (+57) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="KM" data-code="+269") Comoras (+269) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="CG" data-code="+242") Congo (+242) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CD" data-code="+243") Rep칰blica Democr치tica del Congo (+243) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CK" data-code="+682") Islas Cook (+682) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CR" data-code="+506") Costa Rica (+506) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CI" data-code="+225") Costa de Marfil (+225) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="HR" data-code="+385") Croacia (+385) 
  <span aria-hidden="true"> 游쇓릖 </span>
   
option(value="CU" data-code="+53") Cuba (+53) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CY" data-code="+537") Chipre (+537) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="CZ" data-code="+420") Chequia (+420) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="DK" data-code="+45") Dinamarca (+45) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="DJ" data-code="+253") Yibuti (+253) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="DM" data-code="+1767") Dominica (+1767) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="DO" data-code="+1849") Rep칰blica Dominicana (+1849) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="EC" data-code="+593") Ecuador (+593) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="EG" data-code="+20") Egipto (+20) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="SV" data-code="+503") El Salvador (+503) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="GQ" data-code="+240") Guinea Ecuatorial (+240) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="ER" data-code="+291") Eritrea (+291) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="EE" data-code="+372") Estonia (+372) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="ET" data-code="+251") Etiop칤a (+251) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="FK" data-code="+500") Islas Malvinas (+500) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="FO" data-code="+298") Islas Feroe (+298) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="FJ" data-code="+679") Fiyi (+679) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="FI" data-code="+358") Finlandia (+358) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="FR" data-code="+33") Francia (+33) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="GF" data-code="+594") Guayana Francesa (+594) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="PF" data-code="+689") Polinesia Francesa (+689) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="GA" data-code="+241") Gab칩n (+241) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GM" data-code="+220") Gambia (+220) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GE" data-code="+995") Georgia (+995) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="DE" data-code="+49") Alemania (+49) 
  <span aria-hidden="true"> 游뾇릖 </span>
   
option(value="GH" data-code="+233") Ghana (+233) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GI" data-code="+350") Gibraltar (+350) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GR" data-code="+30") Grecia (+30) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GL" data-code="+299") Groenlandia (+299) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GD" data-code="+1473") Granada (+1473) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GP" data-code="+590") Guadalupe (+590) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GU" data-code="+1671") Guam (+1671) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GT" data-code="+502") Guatemala (+502) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GG" data-code="+44") Guernsey (+44) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GN" data-code="+224") Guinea (+224) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GW" data-code="+245") Guinea-Bisau (+245) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="GY" data-code="+595") Guyana (+595) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="HT" data-code="+509") Hait칤 (+509) 
  <span aria-hidden="true"> 游쇓릖 </span>
   
option(value="VA" data-code="+379") Ciudad del Vaticano (+379) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="HN" data-code="+504") Honduras (+504) 
  <span aria-hidden="true"> 游쇓릖 </span>
   
option(value="HK" data-code="+852") Hong Kong (+852) 
  <span aria-hidden="true"> 游쇓릖 </span>
   
option(value="HU" data-code="+36") Hungr칤a (+36) 
  <span aria-hidden="true"> 游쇓릖 </span>
   
option(value="IS" data-code="+354") Islandia (+354) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IN" data-code="+91") India (+91) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="ID" data-code="+62") Indonesia (+62) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IR" data-code="+98") Ir치n (+98) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IQ" data-code="+964") Iraq (+964) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IE" data-code="+353") Irlanda (+353) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IM" data-code="+44") Isla de Man (+44) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IL" data-code="+972") Israel (+972) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="IT" data-code="+39") Italia (+39) 
  <span aria-hidden="true"> 游쉻릖 </span>
   
option(value="JM" data-code="+1876") Jamaica (+1876) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="JP" data-code="+81") Jap칩n (+81) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="JE" data-code="+44") Jersey (+44) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="JO" data-code="+962") Jordania (+962) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="KZ" data-code="+7") Kazajist치n (+7) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="KE" data-code="+254") Kenia (+254) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="KI" data-code="+686") Kiribati (+686) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="KP" data-code="+850") Corea del Norte (+850) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="KR" data-code="+82") Corea del Sur (+82) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="XK" data-code="+383") Kosovo (+383) 
  <span aria-hidden="true"> 游쬃릖 </span>
   
option(value="KW" data-code="+965") Kuwait (+965) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="KG" data-code="+996") Kirguist치n (+996) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="LA" data-code="+856") Laos (+856) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LV" data-code="+371") Letonia (+371) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LB" data-code="+961") L칤bano (+961) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LS" data-code="+266") Lesoto (+266) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LR" data-code="+231") Liberia (+231) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LY" data-code="+218") Libia (+218) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LI" data-code="+423") Liechtenstein (+423) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LT" data-code="+370") Lituania (+370) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="LU" data-code="+352") Luxemburgo (+352) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="MO" data-code="+853") Macao (+853) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MK" data-code="+389") Rep칰blica de Macedonia (+389) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MG" data-code="+261") Madagascar (+261) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MW" data-code="+265") Malaui (+265) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MY" data-code="+60") Malasia (+60) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MV" data-code="+960") Maldivas (+960) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="ML" data-code="+223") Mal칤 (+223) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MT" data-code="+356") Malta (+356) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MH" data-code="+692") Islas Marshall (+692) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MQ" data-code="+596") Martinica (+596) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MR" data-code="+222") Mauritania (+222) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MU" data-code="+230") Mauricio (+230) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="YT" data-code="+262") Mayotte (+262) 
  <span aria-hidden="true"> 游쮫릖 </span>
   
option(value="MX" data-code="+52") M칠xico (+52) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="FM" data-code="+691") Estados Federados de Micronesia (+691) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="MD" data-code="+373") Moldavia (+373) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MC" data-code="+377") Monaco (+377) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MN" data-code="+976") Mongolia (+976) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="ME" data-code="+382") Montenegro (+382) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MS" data-code="+1664") Montserrat (+1664) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MA" data-code="+212") Marruecos (+212) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MZ" data-code="+258") Mozambique (+258) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="MM" data-code="+95") Birmania (+95) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="NA" data-code="+264") Namibia (+264) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NR" data-code="+674") Nauru (+674) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NP" data-code="+977") Nepal (+977) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NL" data-code="+31") Holanda (+31) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="AN" data-code="+599") Antillas Holandesas (+599) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="NC" data-code="+687") Nueva Caledonia (+687) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NZ" data-code="+64") Nueva Zelanda (+64) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NI" data-code="+505") Nicaragua (+505) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NE" data-code="+227") Niger (+227) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NG" data-code="+234") Nigeria (+234) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NU" data-code="+683") Niue (+683) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="NF" data-code="+672") IslaNorfolk (+672) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="MP" data-code="+1670") IslasMarianasdelNorte (+1670) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="NO" data-code="+47") Noruega (+47) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="OM" data-code="+968") Om치n (+968) 
  <span aria-hidden="true"> 游엃릖 </span>
   
option(value="PK" data-code="+92") Pakist치n (+92) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PW" data-code="+680") Palaos (+680) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PA" data-code="+507") Panam치 (+507) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PG" data-code="+675") Pap칰a Nueva Guinea (+675) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PY" data-code="+595") Paraguay (+595) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PE" data-code="+51") Per칰 (+51) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PH" data-code="+63") Filipinas (+63) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PN" data-code="+872") Islas Pitcairn (+872) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PL" data-code="+48") Polonia (+48) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PT" data-code="+351") Portugal (+351) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="PR" data-code="+1939") Puerto Rico (+1939) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="QA" data-code="+974") Qatar (+974) 
  <span aria-hidden="true"> 游윓릖 </span>
   
option(value="RO" data-code="+40") Rumania (+40) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="RU" data-code="+7") Rusia (+7) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="RW" data-code="+250") Ruanda (+250) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="RE" data-code="+262") Reunion (+262) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="BL" data-code="+590") San Bartolome (+590) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="SH" data-code="+290") Santa Elena, Ascensi칩n y Trist치n de Acu침a (+290) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="KN" data-code="+1869") San Crist칩bal y Nieves (+1869) 
  <span aria-hidden="true"> 游썷릖 </span>
   
option(value="LC" data-code="+1758") Santa Luc칤a (+1758) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="MF" data-code="+590") Isla de San Mart칤n (+590) 
  <span aria-hidden="true"> 游쓇릖 </span>
   
option(value="PM" data-code="+508") San Pedro y Miquelon (+508) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="VC" data-code="+1784") San Vicente y las Granadinas (+1784) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="WS" data-code="+685") Samoa (+685) 
  <span aria-hidden="true"> 游쩛릖 </span>
   
option(value="SM" data-code="+378") San Marino (+378) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="ST" data-code="+239")  Santo Tom칠 y Pr칤ncipe (+239) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SA" data-code="+966") Arabia Saudita (+966) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SN" data-code="+221") Senegal (+221) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="RS" data-code="+381") Serbia (+381) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="SC" data-code="+248") Seychelles (+248) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SL" data-code="+232") Sierra Leona (+232) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SG" data-code="+65") Singapur (+65) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SK" data-code="+421") Eslovaquia (+421) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SI" data-code="+386") Eslovenia (+386) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SB" data-code="+677") Islas Salom칩n (+677) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SO" data-code="+252") Somalia (+252) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="ZA" data-code="+27") Sud치frica (+27) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="SS" data-code="+211") Sud치n del Sur (+211) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="ES" data-code="+34") Espa침a (+34) 
  <span aria-hidden="true"> 游쀯릖 </span>
   
option(value="LK" data-code="+94") Sri Lanka (+94) 
  <span aria-hidden="true"> 游쐟릖 </span>
   
option(value="PS" data-code="+970") Estado de Palestina (+970) 
  <span aria-hidden="true"> 游왫릖 </span>
   
option(value="SD" data-code="+249") Sud치n (+249) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SR" data-code="+597") Surinam (+597) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SJ" data-code="+47") Svalbard y Jan Mayen (+47) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SZ" data-code="+268") Suazilandia (+268) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="SE" data-code="+46") Suecia (+46) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="CH" data-code="+41") Suiza (+41) 
  <span aria-hidden="true"> 游뻟릖 </span>
   
option(value="SY" data-code="+963") Siria (+963) 
  <span aria-hidden="true"> 游젏릖 </span>
   
option(value="TW" data-code="+886") Taiw치n (+886) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TJ" data-code="+992") Tayikist치n (+992) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TZ" data-code="+255") Tanzania (+255) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TH" data-code="+66") Tailandia (+66) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TL" data-code="+670") Timor Oriental (+670) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TG" data-code="+228") Togo (+228) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TK" data-code="+690") Tokelau (+690) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TO" data-code="+676") Tonga (+676) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TT" data-code="+1868") Trinidad y Tobago (+1868) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TN" data-code="+216") T칰nez (+216) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TR" data-code="+90") Turqu칤a (+90) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TM" data-code="+993") Turkmenist치n (+993) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TC" data-code="+1649") Islas Turcas y Caicos (+1649) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="TV" data-code="+688") Tuvalu (+688) 
  <span aria-hidden="true"> 游좷릖 </span>
   
option(value="UG" data-code="+256") Uganda (+256) 
  <span aria-hidden="true"> 游쥟릖 </span>
   
option(value="UA" data-code="+380") Ucrania (+380) 
  <span aria-hidden="true"> 游쥟릖 </span>
   
option(value="AE" data-code="+971") Emiratos 츼rabes Unidos (+971) 
  <span aria-hidden="true"> 游뷣릖 </span>
   
option(value="GB" data-code="+44") Reino Unido (+44) 
  <span aria-hidden="true"> 游섫릖 </span>
   
option(value="US" data-code="+1") Estados Unidos (+1) 
  <span aria-hidden="true"> 游쥟릖 </span>
   
option(value="UY" data-code="+598") Uruguay (+598) 
  <span aria-hidden="true"> 游쥟릖 </span>
   
option(value="UZ" data-code="+998") Uzbekist치n (+998) 
  <span aria-hidden="true"> 游쥟릖 </span>
   
option(value="VU" data-code="+678") Vanuatu (+678) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="VE" data-code="+58") Venezuela (+58) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="VN" data-code="+84") Vietnam (+84) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="VG" data-code="+1284") Islas V칤rgenes Brit치nicas (+1284) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="VI" data-code="+1340") Islas V칤rgenes de los Estados Unidos (+1340) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="WF" data-code="+681") Wallis y Futuna (+681) 
  <span aria-hidden="true"> 游쩛릖 </span>
   
option(value="YE" data-code="+967") Yemen (+967) 
  <span aria-hidden="true"> 游쮫릖 </span>
   
option(value="ZM" data-code="+260") Zambia (+260) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="ZW" data-code="+263") Zimbabue (+263) 
  <span aria-hidden="true"> 游游 </span>
   
option(value="AX" data-code="+358") 칀land (+358) 
  <span aria-hidden="true"> 游뷣릖 </span>
   