/* Thanks rsms for the amazing https://github.com/rsms/inter/*/
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Bold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.woff');
  font-weight: normal;
}
